<div class="container col-direction">
  <section class="title-container">
    <h1 class="title">
      Write
      <div class="slash-bar"></div>
      Draw
      <div class="slash-bar"></div>
      Belong
    </h1>

    <h1 class="title mobile">
      <span>.Write</span>
      <span>.Draw</span>
      <span>.Belong</span>
    </h1>
    <p class="subtitle">
      Where stories find hearts. And artists find each other.
    </p>
  </section>

  <section class="features">
    <article class="card raised light-green">
      <div class="title">
        <div class="icon-container raised">
          <object
            class="icon"
            data="assets/icons/create.svg"
            type="image/svg+xml"
            title="Create icon"
          ></object>
        </div>
        Create
      </div>
      <span class="text-muted">
        Comics, manga, short stories, novels - show us your world.
      </span>
    </article>

    <article class="card raised light-pink">
      <div class="title">
        <div class="icon-container raised">
          <object
            class="icon"
            data="assets/icons/connect.svg"
            type="image/svg+xml"
            title="Connection icon"
          ></object>
        </div>
        Connect
      </div>
      <span class="text-muted">
        Share with creators who live and breathe storytelling.
      </span>
    </article>

    <article class="card raised light-purple">
      <div class="title">
        <div class="icon-container raised">
          <object
            class="icon"
            data="assets/icons/inspire.svg"
            type="image/svg+xml"
            title="Inspiration icon"
          ></object>
        </div>
        Find your spark
      </div>
      <span class="text-muted">
        Explore bold voices and new ways to express yourself.
      </span>
    </article>
  </section>
</div>
