* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ebebeb;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #262626;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-muted {
  color: #737373;
}

a.text-muted {
  text-decoration: none;
  transition: color 0.15s;
}

a.text-muted:hover {
  color: #262626;
}

.slash-bar {
  width: 8px;
  height: 3.5rem;
  min-width: 8px;
  background: #c0c0c0;
  border-radius: 6px;
  transform: rotate(20deg);
  box-shadow: inset 2px 4px 6px #c0c0c0, inset -8px 0 7px #ebebeb;
}

.card {
  text-align: center;
  background: #ebebeb;
  border-radius: 1.5rem;
  padding: 2rem 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.3s;
}
.card .title {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.card .title .icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
  line-height: 0;
}
.card .title .icon-container .icon svg {
  width: 100%;
  height: auto;
  max-width: 2rem;
  display: block;
}

.card.light-green:hover {
  background-color: #def1de;
}

.card.light-pink:hover {
  background-color: #f1dede;
}

.card.light-purple:hover {
  background-color: #ecdef1;
}

.raised {
  box-shadow: 7px 7px 14px #c0c0c0, -5px -5px 14px #fff;
}

.inset {
  box-shadow: inset 7px 7px 14px #c0c0c0, inset -7px -7px 14px #fff;
}

.default-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #ebebeb;
  color: #262626;
  display: flex;
  gap: 0.75rem;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.4s;
}

.default-button:hover {
  background-color: #e0e0e0;
}

.default-button:active {
  background-color: #ebebeb;
  color: #262626;
  box-shadow: inset 4px 5px 7px 0px #c0c0c0, -8px -8px 16px #ebebeb;
}

header, footer {
  width: 100%;
  padding: 1.75rem 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes slideColors {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
header .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #262626;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(to left, #262626, #737373, #262626, #737373);
  background-size: 300% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  transition: -webkit-text-fill-color 0.4s ease;
}
header .logo:hover {
  -webkit-text-fill-color: transparent;
  animation: slideColors 1s linear infinite;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .title-container {
  text-align: center;
}
main .title-container .title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
main .title-container .subtitle {
  color: #737373;
  font-size: 1.5rem;
}
main .features {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

footer {
  border-top: 1px solid #d9d9d9;
  text-align: center;
  color: #444;
  margin-top: auto;
}

@media only screen and (max-width: 866px) {
  .card .title {
    flex-direction: column;
  }
}
@media only screen and (min-width: 700px) {
  main .title-container .title.mobile {
    display: none;
  }
}
@media only screen and (max-width: 699px) {
  header, footer {
    justify-content: space-between;
  }
  header nav {
    display: none;
  }
  footer nav {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
  }
  .card {
    gap: 1.25rem;
  }
  .card .title .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  main .title-container .title {
    font-size: 2rem;
    flex-direction: column;
  }
  main .title-container .title:not(.mobile) {
    display: none;
  }
  main .title-container .subtitle {
    font-size: 1.25rem;
  }
  main .features {
    grid-template-columns: unset;
  }
}/*# sourceMappingURL=style.css.map */