$bg: #ebebeb;
$black: #262626;
$gray: #737373;
$white: #ebebeb;
$white-dark: #e0e0e0;
$light-gray: #c0c0c0;
$radius: 1.5rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: $bg;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: $black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-muted {
    color: $gray;
}

a.text-muted {
    text-decoration: none;
    transition: color .15s;
}

a.text-muted:hover {
    color: $black;
}

.slash-bar {
    width: 8px;
    height: 3.5rem;
    min-width: 8px;
    background: #c0c0c0;
    border-radius: 6px;
    transform: rotate(20deg);
    box-shadow: inset 2px 4px 6px $light-gray, inset -8px 0 7px $white;
}

.card {
    text-align: center;
    background: $white;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all .3s;

    .title {
        display: flex;
        padding: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .75rem;
        font-weight: 500;
        font-size: 1.25rem;

        .icon-container {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 0.5rem;
            line-height: 0;

            .icon svg {
                width: 100%;
                height: auto;
                max-width: 2rem;
                display: block;
            }
        }

    }
}

.card:hover {
    transform: scale(1.05);
}

.card.light-green:hover {
    background-color: #def1de;
}

.card.light-pink:hover {
    background-color: #f1dede;
}

.card.light-purple:hover {
    background-color: #ecdef1;
}

.raised {
    box-shadow: 7px 7px 14px $light-gray, -5px -5px 14px #fff;
}

.inset {
    box-shadow: inset 7px 7px 14px  $light-gray, inset -7px -7px 14px #fff;
}

.default-button {
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: $white;
    color: $black;
    display: flex;
    gap: .75rem;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all .4s;
}

.default-button:hover {
    background-color: $white-dark;
}

.default-button:active {
    background-color: $white;
    color: $black;
    box-shadow: inset 4px 5px 7px 0px $light-gray, -8px -8px 16px $white;
}

header, footer {
    width: 100%;
    padding: 1.75rem 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .title-container {
        text-align: center;

        .title {
            font-size: 3rem;
            margin-bottom: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
        }

        .subtitle {
            color: $gray;
            font-size: 1.5rem;
        }
    }

    .features {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2rem;
    }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

footer {
    border-top: 1px solid #d9d9d9;
    text-align: center;
    color: #444;
    margin-top: auto;
}

@media only screen and (max-width: 866px) {
    .card .title {
        flex-direction: column;
    }
}

@media only screen and (min-width: 700px) {
    main .title-container .title.mobile {
        display: none;
    }
}

@media only screen and (max-width: 699px) {
    header, footer {
        justify-content: space-between;
    }

    header nav {
        display: none;
    }

    footer nav {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }

    .card {
        gap: 1.25rem;

        .title .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    main {
        .title-container {

            .title {
                font-size: 2rem;
                flex-direction: column;

            }

            .title:not(.mobile) {
                display: none;
            }

            .subtitle {
                font-size: 1.25rem;
            }
        }

        .features {
            grid-template-columns: unset;
        }
    }
}
